<section class="page">
  <form [formGroup]="form" (ngSubmit)="guardar()" class="form">

    <p class="title">Registro</p>
    <p class="message">Completa los campos para crear tu perfil nutricional</p>

    <!-- Nombre -->
    <label>
      <input type="text" class="input" placeholder=" " formControlName="nombre" required />
      <span class="floating_span">Nombre</span>
      
    </label>

    <!-- Apellidos -->
    <label>
      <input type="text" class="input" placeholder=" " formControlName="apellidos" required />
      <span class="floating_span">Apellidos</span>
    </label>

    <!-- Fecha de nacimiento -->
    <label>
      <input type="date" class="input" placeholder=" " formControlName="fechaNacimiento" required />
      <span class="floating_span">Fecha de nacimiento</span>
    </label>


    <!-- ¿Diabético? (checkbox) -->
    <label class="checkbox flex">
      <span class="check-label">¿Es diabético?</span>
      <input type="checkbox" formControlName="diabetico" />
    </label>

    <!-- Etiquetas tipo de comida -->
    <label>
      <div class="tag-container">
        <span class="tag" *ngFor="let t of chipsCtrl.value; let i = index">
          {{ t }}
          <button type="button" (click)="removeTag(i)">×</button>
        </span>

        <input #tagInput class="input tag-input" placeholder=" " autocomplete="off" (keyup.enter)="addTag(tagInput)"
          (blur)="addTag(tagInput)" />
      </div>
      <span>Tipo de comida</span>
    </label>

    <button class="submit" type="submit">Registrar</button>
  </form>
</section>